  body{
    background-color: rgb(5, 9, 22);
    font-family: "Geist Pixel", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: large;
  }

   h1{
    color: maroon;
    font-size: larger;
  }
  h2{
    color: maroon;
    font-size: larger;
  }
  .dot{
    color: crimson; 
    font-size: medium;
  }
  #p2{
    color: rgba(255, 74, 3, 0.952);
    font-size: medium;
  }
  #p4{
    color: rgba(255, 74, 3, 0.938);
    font-size: medium;
  }
ol{
  color: maroon;
}
ul{
  color: maroon;
}
